body
{
  background-color:bisque;
font-family: Bai Janjuree;
}
footer
{
  background-color: black;
  color: white;
  position: fixed;
  botton:0;
  width: 100%;
  heigher: 2 ren;
}
  footer P
{
  text-aling:center;
  font-size:0,6 rem;
  margin-tap:0,5 rem ;
}
